.add-more-area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    min-height: 40px;
    max-height: auto;
  }
  .add-more-area input{
      width: 95%;
      outline: none;
  }
  .add-more-area a{
    width: 60px;
    margin-left: 10px;
  }