.layout-container {
    overflow: hidden
}

header.site-header {
    max-width: 1920px;
    position: absolute;
    z-index: 2
}


.main-menu {
    display: none;
    z-index: 2;
    position: fixed;
    width: 100%;
    height: calc(100% - 77px);
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    left: 0;
    bottom: 0;
    top: auto;
    overflow: auto;
    max-height: 100%;
    max-width: 1920px
}

@media (min-width:480px) {
    .main-menu {
        height: calc(100% - 80px)
    }
}

@media (min-width:600px) {
    .main-menu {
        height: calc(100% - 95px)
    }
}

@media (min-width:800px) {
    .main-menu {
        height: calc(100% - 107px)
    }
}

@media (min-width:1200px) {
    .main-menu {
        height: calc(100% - 129px)
    }
}

@media (min-width:1921px) {
    .main-menu {
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
}

.main-menu .menu {
    padding: 20px 30px;
    width: 100%
}

@media (min-width:480px) {
    .main-menu .menu {
        padding-top: 25px;
        padding-bottom: 25px
    }
}

@media (min-width:600px) {
    .main-menu .menu {
        padding-top: 35px;
        padding-bottom: 35px
    }
}

@media (min-width:800px) {
    .main-menu .menu {
        padding-top: 40px;
        padding-bottom: 40px
    }
}

@media (min-width:1200px) {
    .main-menu .menu {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

@media (min-width:1400px) {
    .main-menu .menu {
        padding-top: 65px;
        padding-bottom: 65px
    }
}

@media (min-width:600px) {
    .main-menu .menu {
        padding-right: 40px;
        padding-left: 40px
    }
}

@media (min-width:800px) {
    .main-menu .menu {
        padding-right: 50px;
        padding-left: 50px
    }
}

@media (min-width:1200px) {
    .main-menu .menu {
        padding-right: 80px;
        padding-left: 80px
    }
}

@media (min-width:1400px) {
    .main-menu .menu {
        padding-right: 100px;
        padding-left: 100px
    }
}

@media (min-width:1000px) and (max-height:800px) {
    .main-menu .menu {
        padding-bottom: 0;
        padding-top: 35px
    }
}

.main-menu li {
    position: relative;
    width: 50%;
}

@media (min-width:1000px) {
    .main-menu li.mobile-only {
        display: none !important
    }
}

@media (max-width:999px) {
    .main-menu li.desktop-only {
        display: none !important
    }
}

.main-menu li a,
.main-menu li a:link,
.main-menu li a:visited,
.main-menu li span {
    -webkit-transition: all .33s;
    transition: all .33s;
    display: block;
    cursor: pointer;
    font-size: 25px;
    line-height: 200%;
    position: relative
}

@media (min-width:1000px) {

    .main-menu li a,
    .main-menu li a:link,
    .main-menu li a:visited,
    .main-menu li span {
        display: inline-block
    }
}

@media (min-width:1000px) {

    .main-menu li a:after,
    .main-menu li a:link:after,
    .main-menu li a:visited:after,
    .main-menu li span:after {
        content: "";
        position: absolute;
        display: block;
        bottom: 5px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: left;
        transform-origin: left;
        -webkit-transition: all .33s;
        transition: all .33s
    }
}

.main-menu li a:active,
.main-menu li a:focus,
.main-menu li a:hover,
.main-menu li a:link:active,
.main-menu li a:link:focus,
.main-menu li a:link:hover,
.main-menu li a:visited:active,
.main-menu li a:visited:focus,
.main-menu li a:visited:hover,
.main-menu li span:active,
.main-menu li span:focus,
.main-menu li span:hover {
    color: inherit
}

@media (min-width:1000px) {

    .main-menu li a:active:after,
    .main-menu li a:focus:after,
    .main-menu li a:hover:after,
    .main-menu li a:link:active:after,
    .main-menu li a:link:focus:after,
    .main-menu li a:link:hover:after,
    .main-menu li a:visited:active:after,
    .main-menu li a:visited:focus:after,
    .main-menu li a:visited:hover:after,
    .main-menu li span:active:after,
    .main-menu li span:focus:after,
    .main-menu li span:hover:after {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

.main-menu ul.menu-level-1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (min-width:1000px) {
    .main-menu ul.menu-level-1 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

.main-menu ul.menu-level-1>li {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px)
}

@media (max-width:999px) {
    .main-menu ul.menu-level-1>li:nth-child(3) {
        -webkit-box-ordinal-group: 100;
        -webkit-order: 99;
        -ms-flex-order: 99;
        order: 99
    }
}

@media (min-width:1000px) {
    .main-menu ul.menu-level-1>li:nth-child(n+4) {
        margin-top: 40px
    }
}

@media (min-width:1200px) {
    .main-menu ul.menu-level-1>li:nth-child(n+4) {
        margin-top: 50px
    }
}

@media (min-width:1400px) {
    .main-menu ul.menu-level-1>li:nth-child(n+4) {
        margin-top: 65px
    }
}

@media (min-width:1000px) and (max-height:800px) {
    .main-menu ul.menu-level-1>li:nth-child(n+4) {
        margin-top: 35px !important
    }
}

@media (min-width:1000px) {
    .main-menu ul.menu-level-1>li {
        width: 33.33%;
        -webkit-transform: translateY(100px);
        transform: translateY(100px)
    }

    .main-menu ul.menu-level-1>li:nth-child(3n+1) {
        padding-right: 30px
    }

    .main-menu ul.menu-level-1>li:nth-child(3n+2) {
        padding-left: 15px;
        padding-right: 15px
    }

    .main-menu ul.menu-level-1>li:nth-child(3n+3) {
        padding-left: 30px
    }
}

.main-menu ul.menu-level-1>li.is-parent .menu-below-indicator {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #f6ebd8;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    content: "";
    display: block;
    -webkit-transition: all .33s;
    transition: all .33s
}

@media (min-width:1000px) {
    .main-menu ul.menu-level-1>li.is-parent .menu-below-indicator {
        display: none
    }
}

.main-menu ul.menu-level-1>li.is-parent .menu-below-indicator:after {
    position: absolute;
    top: 2px;
    right: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-transform: none;
    content: "\f107";
    color: #3e3845;
    text-align: center;
    font-size: 20px;
    -webkit-transition: all .33s;
    transition: all .33s;
    width: 32px;
    height: calc(100% - 2px)
}

.main-menu ul.menu-level-1>li>a,
.main-menu ul.menu-level-1>li>a:link,
.main-menu ul.menu-level-1>li>a:visited,
.main-menu ul.menu-level-1>li>span {
    color: #f6ebd8;
    padding: 10px 0;
    font-size: 25px;
    line-height: 32px;
    font-family: Neutraface Bk Demi, sans-serif;
    -webkit-transform-origin: center;
    transform-origin: center;
    display: inline-block;
    position: relative
}

@media (min-width:1000px) {

    .main-menu ul.menu-level-1>li>a:active,
    .main-menu ul.menu-level-1>li>a:focus,
    .main-menu ul.menu-level-1>li>a:hover,
    .main-menu ul.menu-level-1>li>a:link:active,
    .main-menu ul.menu-level-1>li>a:link:focus,
    .main-menu ul.menu-level-1>li>a:link:hover,
    .main-menu ul.menu-level-1>li>a:visited:active,
    .main-menu ul.menu-level-1>li>a:visited:focus,
    .main-menu ul.menu-level-1>li>a:visited:hover,
    .main-menu ul.menu-level-1>li>span:active,
    .main-menu ul.menu-level-1>li>span:focus,
    .main-menu ul.menu-level-1>li>span:hover {
        color: #fff
    }
}

.main-menu ul.menu-level-1>li.active-children .menu-below-indicator {
    background: #fff
}

.main-menu ul.menu-level-1>li.active-children .menu-below-indicator:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

@media (max-width:999px) {

    .main-menu ul.menu-level-1>li.active-children>a,
    .main-menu ul.menu-level-1>li.active-children>a:link,
    .main-menu ul.menu-level-1>li.active-children>a:visited,
    .main-menu ul.menu-level-1>li.active-children>span {
        color: #fff
    }
}

.main-menu .menu-level-2 {
    display: none
}

@media (min-width:1000px) {
    .main-menu .menu-level-2 {
        display: block !important
    }
}

.main-menu .menu-level-2>li>a,
.main-menu .menu-level-2>li>a:link,
.main-menu .menu-level-2>li>a:visited,
.main-menu .menu-level-2>li>span {
    color: #f6ebd8;
    padding: 4px 0 4px 20px
}

@media (min-width:1000px) {

    .main-menu .menu-level-2>li>a,
    .main-menu .menu-level-2>li>a:link,
    .main-menu .menu-level-2>li>a:visited,
    .main-menu .menu-level-2>li>span {
        display: inline-block !important;
        padding: 4px 0
    }
}

@media (min-width:1000px) and (max-height:800px) {

    .main-menu .menu-level-2>li>a,
    .main-menu .menu-level-2>li>a:link,
    .main-menu .menu-level-2>li>a:visited,
    .main-menu .menu-level-2>li>span {
        padding: 0
    }
}

.main-menu .menu-level-2>li:active>a,
.main-menu .menu-level-2>li:active>a:link,
.main-menu .menu-level-2>li:active>a:visited,
.main-menu .menu-level-2>li:active>span,
.main-menu .menu-level-2>li:focus>a,
.main-menu .menu-level-2>li:focus>a:link,
.main-menu .menu-level-2>li:focus>a:visited,
.main-menu .menu-level-2>li:focus>span,
.main-menu .menu-level-2>li:hover>a,
.main-menu .menu-level-2>li:hover>a:link,
.main-menu .menu-level-2>li:hover>a:visited,
.main-menu .menu-level-2>li:hover>span {
    color: #fff
}

.menu-button {
    height: 50px;
    width: 50px;
    left: 17px;
    top: 20px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 17px 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background .5s;
    transition: background .5s;
    z-index: 3;
    position: fixed;
    pointer-events: none;
    border: 0px solid #fff;
    opacity: 0
}

@media (min-width:480px) {
    /*    .menu-button {
        left: 21px
    }*/
}

@media (min-width:600px) {
    /*    .menu-button {
        left: 20px
    }*/
}

@media (min-width:800px) {
    /*    .menu-button {
        left: 37px
    }*/
}

@media (min-width:1000px) {
    /*    .menu-button {
        left: 38px
    }*/
}

@media (min-width:1200px) {
    .menu-button {
        left: 10px
    }
}

@media (min-width:480px) {
    /*    .menu-button {
        top: 19px
    }*/
}

@media (min-width:800px) {
    /*    .menu-button {
        top: 35px
    }*/
}

@media (min-width:1200px) {
    .menu-button {
        top: 10px;
    }
}

@media (min-width:600px) {
    /*    .menu-button {
        padding: 16px 13px
    }*/
}

@media (min-width:1200px) {
    .menu-button {
        height: 75px;
        width: 75px;
        padding: 26px 22px
    }
}

@media (min-width:1921px) {
    .menu-button {
        left: 50%;
        -webkit-transform: translateX(-930px);
        transform: translateX(-930px)
    }
}

.menu-button:hover {
    background-color: none;
}

.menu-button.stuck {
    background: #baa256;
    height: 61px;
    width: 65px;
    padding: 18px 17px 13px 17px;
    border: 1px solid #fff;
}

.menu-button.hide-behind {
    z-index: -1
}

/*.menu-button.active:hover .menu-button__bar {
    background: #f6ebd8
}*/

.menu-button.active .menu-button__bar--1 {
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg)
}

@media (min-width:600px) {
    .menu-button.active .menu-button__bar--1 {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg)
    }
}

@media (min-width:1200px) {
    .menu-button.active .menu-button__bar--1 {
        -webkit-transform: translateY(11px) rotate(45deg);
        transform: translateY(11px) rotate(45deg)
    }
}

.menu-button.active .menu-button__bar--2 {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0
}

.menu-button.active .menu-button__bar--3 {
    -webkit-transform: translateY(-7px) rotate(-45deg);
    transform: translateY(-7px) rotate(-45deg)
}

@media (min-width:600px) {
    .menu-button.active .menu-button__bar--3 {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg)
    }
}

@media (min-width:1200px) {
    .menu-button.active .menu-button__bar--3 {
        -webkit-transform: translateY(-10px) rotate(-45deg);
        transform: translateY(-10px) rotate(-45deg)
    }
}

@media (min-width:800px) {
    .menu-button:hover {
        background: none;
    }

    .menu-button:hover+.background--menu {
        /*background-color: #3e3845*/
    }

    .menu-button:hover .menu-button__bar {
        /*background: #fff*/
    }
}

.menu-button.active {
    background: transparent;
    z-index: 999;
    left: 30px;
}

.menu-button.active+.background--menu {
    /*background-color: #86753f;*/
    background-color: rgba(0, 0, 0, 0.6);
}

.menu-button.active .menu-button__bar {
    background: #fff
}

.menu-button .menu-button__bar {
    background: #fff;
    border-radius: 0;
    height: 2px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: all .33s;
    transition: all .33s
}

/*@media (min-width:800px) {
    .book-button:hover {
        background: transparent
    }
    .book-button:hover+.background--book {
        background-color: #3e3845
    }
    .book-button:hover .menu-button__bar {
        background: #fff
    }
}*/

.book-button.active {
    background: transparent
}

.book-button.active+.background--book {
    background-color: #3e3845
}

.book-button.active .menu-button__bar {
    background: #fff
}

.background--menu {
    height: 50px;
    width: 50px;
    left: 17px;
    top: 20px;
    position: fixed;
    -webkit-transition: background .5s;
    transition: background .5s
}

@media (min-width:480px) {
    .background--menu {
        left: 21px
    }
}

@media (min-width:600px) {
    .background--menu {
        left: 20px
    }
}

@media (min-width:800px) {
    .background--menu {
        left: 37px
    }
}

@media (min-width:1000px) {
    .background--menu {
        left: 38px
    }
}

@media (min-width:1200px) {
    .background--menu {
        left: 30px
    }
}

@media (min-width:480px) {
    .background--menu {
        top: 23px
    }
}

@media (min-width:800px) {
    .background--menu {
        top: 35px
    }
}

@media (min-width:1200px) {
    .background--menu {
        top: 27px;
        height: 50px;
        width: 40px
    }
}

@media (min-width:1921px) {
    .background--menu {
        left: 50%;
        -webkit-transform: translateX(-930px);
        transform: translateX(-930px)
    }
}

body.menu-open {
    height: 100vh;
    overflow: hidden
}

@media (min-width:1921px) {
    body.menu-open .logo-wrapper {
        right: 50%;
        -webkit-transform: translateX(960px);
        transform: translateX(960px)
    }
}

/*span.menu_title { position: relative; left: 50px; top: -25px; width: 100%; color: #fff; text-transform: uppercase; }*/
span.menu_title {
    position: relative;
    left: -2px;
    top: -7px;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
}

.menu-button>.menu-button__bar--4>span.menu_title {
    color: #fff;
}

.book-button.inner {
    display: none;
}

.menu-button.inner.stuck>.menu-button__bar {
    background-color: #fff;
}

.menu-button.inner>.menu-button__bar {
    background-color: #000;
}

.menu-button.inner>.menu-button__bar--4>span.menu_title {
    color: #000;
    font-weight: 700;
}

.footer.inner {
    margin-top: 0px;
}

body.menu-open .flexslider .slides {
    opacity: 0;
}

body.menu-open .book-now {
    opacity: 0;
}

body.menu-open .down {
    opacity: 0;
}

body.menu-open p.scroll-down {
    opacity: 0;
}

body.menu-open .flex-direction-nav {
    opacity: 0;
}

body.menu-open .banner-holder .number {
    opacity: 0;
}

body.menu-open .banner-holder .total-slide {
    opacity: 0;
}

ul.menu-level-2>li.is-active>ul {
    display: none;
}

ul.menu-level-2>li.is-active:hover>ul {
    display: block;
    position: relative;
}

ul.menu-level-2>li.is-active>ul.menu-dropdown {
    position: absolute;
    padding-left: 200px;
    margin-top: -40px;
    width: 100%;
}

ul#link1>li {
    width: 200px;
}

ul#link1>li a {
    color: #fff;
}

.menu-button__bar.menu-button__bar--4 {
    height: 0px;
}

.menu-button__bar.menu-button__bar--4 span.menu_title {
    opacity: 1;
    font-weight: 300;
    letter-spacing: 2px;
}

.menu-button.active .menu-button__bar.menu-button__bar--4 {
    display: none;
}

.menu-button.stuck .menu-button__bar.menu-button__bar--4 {
    opacity: 0;
}

.booking-page {
    min-height: 500px;
}

.booking-page .booking-menu {
    height: 130px;
    background: #1d3649 !important;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-page .booking-menu .menu-item {
    font-size: .75rem;
    color: white;
    border-right: 1px solid white;
    height: 100%;
    padding: 10px 20px;
    width: auto;
    width: 20%;
}

.booking-page .booking-menu .menu-item:last-child {
    border-right: 0;
}

.booking-page .booking-menu .menu-item:hover {
    background: #437ca8 !important;
}

.arrow-1 {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    display: none;
}

.selected-tittle,
.all-room {
    display: flex;
    justify-content: center;
}

.down-1 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-2 {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down-2 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.menu-item .selected-value {
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    text-align: center;
}

.selected-arrow {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.room-title {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.guest-room {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 40px;
}

.guest-room .common-select {
    width: 300px;
    height: 30px;
    outline: none;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.add-a-room {
    color: #f6d83e;
    font-size: 18px;
    padding-top: 15px;
    cursor: pointer;
}

.input-wrapper {
    padding: 60px 0px;
}

.right-side {
    float: right;
    width: 100%;
    display: flex;
    justify-content: right;
    padding-left: 50px;
}

.right-side {
    width: 100%;
    display: flex;
    justify-content: right;
}

.propperty_wrapper {
    width: 100%;
}

.remove {
    width: 120px;
    cursor: pointer;
}

.remove span {
    color: #f6d83e;
    font-size: 16px;
    padding-left: 15px;
    margin-right: 6px;
}

.discount-section {
    width: 500px;
    margin: 30px auto;
}

.app-code {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.coupon {
    border: 1px solid #ddd;
    padding: 15px 20px;
}

.coupon select {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    padding: 2px 10px;
}

.coupon input {
    width: 100%;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    margin: 10px 0px;
    padding: 2px 10px;
}

.coupon .coupon-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coupon .coupon-button .cancel {
    width: 45%;
    height: 40px;
    background-color: #eee;
    color: #f6d83e;
    border: 1px solid #f6d83e;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.coupon .coupon-button .add-btn {
    width: 45%;
    height: 40px;
    color: white;
    background-color: #f6d83e;
    border: 1px solid #f6d83e;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.submit-coupon {
    background-color: #f6d83e;
    height: 60px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin: 30px auto;
    cursor: pointer;
}

.room-list-view {}

.room-list-view .selected-room-list {
    border: 5px solid #f6d83e;
    height: 420px;
    margin-bottom: 30px;
}

.room-list-view .selected-room-list .list-part {
    width: 100%;
    display: flex;
}

.room-list-view .selected-room-list .list-part .photo-view {
    width: 30%;
}

.room-list-view .selected-room-list .list-part .photo-view img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.room-list-view .selected-room-list .list-part .room-description {
    width: 40%;
    padding: 10px;
}

.room-list-view .selected-room-list .list-part .sales-price-section {
    width: 30%;
}

.room-description {}

.room-description .room-title {
    color: #f6d83e;
}

.room-description .room-item {
    display: flex;
    align-items: center;
}

.room-description .room-item div {
    margin-right: 20px;
}

.room-description .room-info {
    padding: 30px 0px 20px 0px;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.room-description .room-link {
    color: #f6d83e !important;
    padding-top: 20px;
}

.room-description .room-link a {
    color: #f6d83e !important;
    padding-top: 20px;
}

.list-part .sales-price-section {
    padding: 10px 10px 0px 0px;
    display: flex;
    border-bottom: 1px dashed #ccc;
    height: 60px;
    justify-content: space-between;
}

.book-part {
    width: 300px;
    display: flex;
    justify-content: flex-end;
    float: right;
    cursor: pointer;
}

.book-part .price-button {
    width: 200px;
    height: 60px;
    text-align: center;
    background: black;
    color: #ccc;
    padding-top: 10px;
}

.book-part .book-submit-button {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    background: #f6d83e;
}

.already-booked {
    background: green !important;
}

.payment-area {
    width: 100%;
    height: auto;
    background: #f2f2f2;
    display: flex;
    font-size: 13px;
}

.payment-page {
    width: 100%;
    height: auto;
    background: #f2f2f2;
    padding: 40px 0px;
}


.payment-area .first-part {
    width: calc(40% - 30px);
    border-right: 2px dotted #ccc;
    padding-right: 30px;
    padding-left: 30px;
}

.payment-area .second-part {
    width: calc(30%);
    border-right: 2px dotted #ccc;
    padding-right: 30px;
    padding-left: 30px;
}

.payment-area .third-part {
    width: calc(30%);
    padding-right: 30px;
    padding-left: 30px;
}


.payment-area .title {
    font-size: 20px;
    padding: 20px 0px;
}

.payment-area .sale {
    color: #f6d83e;
    padding: 10px 0px;
    font-weight: normal;
}

.newline {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
}

.border-room-top {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
}

.payment-form-group {
    padding-bottom: 10px;
    padding-top: 10px;
}

.payment-form-group p {
    line-height: 20px;
    padding-bottom: 5px;
}

.payment-form-group input {
    height: 40px;
    width: 100%;
    border: 1px solid #cdcdcd;
}

.pay-input-common {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
    position: relative;
}

.pay-input-common input,
.pay-input-common select {
    height: 40px;
    width: 100%;
    border: 1px solid #cdcdcd;
    color: #333 !important;
    padding: 0px 10px 0px 10px;
    background: white;
}

.pay-input-common span {
    color: red;
    position: absolute;
    right: -10px;
    top: 0px;
    font-size: 20px;
}

.top-guest-gap {
    margin-top: 30px;
}


.pay-input-common input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc !important;
}

.pay-input-common input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc !important;
}

.pay-input-common input:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc !important;
}

.pay-input-common input:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc !important;
}


.book-now-button {
    background-color: #f6d83e;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    margin: 30px auto;
}

.payment-card-image {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.payment-card-image img {
    width: 30%;
    height: 60px;
}

.date-calender {
    min-height: 400px;
    margin: auto;
}

.date-calender .calender-title {
    font-size: 25px;
    padding: 60px 0px;
    text-align: center;
}

.date-calender .input-picker {
    width: 300px;
    height: 40px;
    color: #222;
    margin: auto !important;
}

.date-calender input {
    width: 300px;
    height: 40px;
    color: #222;
    margin: auto !important;
    border: 1px solid #cdcdcd;
    padding-left: 15px;
}

.custom-modal-popup {
    display: none;
    width: 400px;
    height: 300px;
    padding: 20px;
    margin: auto;
    z-index: 9999999;
    background: white;
    box-shadow: 14px 14px 10px #000;
    border-radius: 20px;
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translate(-50%, 10px);

    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.close-modal {
    position: absolute;
    left: 30px;
    background: #f6d83e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 28px;
    bottom: 30px;
}

.view-room {
    font-size: 16px;
    font-weight: bold;
}

.pay-goto-now {
    position: absolute;
    right: 30px;
    background: #437ca8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 40px;
    border-radius: 28px;
}

.select-room-show-list {
    border: 1px solid #ccc;
    padding: 10px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    overflow: scroll;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    padding: 10px;
}

.select-room-show-list .roomname {
    color: #ccc;
}


.select-room-show-list::-webkit-scrollbar {
    display: none;
}

.room-name-price {
    border-bottom: 1px dashed #ccc;
}

.room-name-price span {
    min-width: 20px;
    min-height: 20px;
    margin-right: 10px;
    background: #f6d83e;
    padding: 0px 5px;
}

.customer-selected-room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #333;
    margin-bottom: 5px;
}

.startdate-endate {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: auto;
}

.startdate-endate input {
    width: 180px;
    height: 40px;
}

#selectedStartDate::placeholder,
#selectedEndDate::placeholder {
    color: #ccc !important;
    opacity: 1 !important;
    /* Firefox */
}

#selectedStartDate:-ms-input-placeholder,
#selectedEndDate::placeholder {
    /* Internet Explorer 10-11 */
    color: #ccc;
}

#selectedStartDate::-ms-input-placeholder,
#selectedEndDate::placeholder {
    /* Microsoft Edge */
    color: #ccc;
}

.room-title-cart th {
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    padding: 0px;
    margin: 0;
}

.room-title-cart tr {}

.room-title-cart td {
    border: 1px solid #ccc;
    padding: 0px;
    margin: 0;
    font-size: 13px;
    text-align: center;
}

.top-menu {
    float: left;
}

.top-menu ul {
    padding: 0px;
    padding-top: 0px;
    margin: 0;
    display: flex;
    width: 550px;
    float: right;
    margin-left: -126px;

}

.top-menu ul li {
    padding: 5px 7px;

}

.top-menu ul li a {
    color: #fff;
    left: 120px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 1px;
}


.weather {
    height: 150px;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px dashed #ccc;
}


.day-weather {
    width: 14.245%;
    padding: 20px 15px;
    border-right: 1px dashed #ccc;
    height: 100%;
    position: relative;
}

.day-weather:hover .sun {
    background: green !important;
}

.day-weather:hover .day-name,
.day-weather:hover .min-temp,
.day-weather:hover .max-temp {
    color: green;
}

.day-weather:nth-child(even) {
    background: #f0f0f0;
}

.day-weather:last-child {
    width: 13.245%;
    padding: 20px 15px;
    border-right: 0px dashed #ccc;
}

.day-name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.sun {
    height: 40px;
    width: 40px;
    border: 4px dotted white;
    border-radius: 100%;
    margin: 10px auto;
    background: #f6d83e;
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
}

.day-weather .temp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paddingTop {
    padding-top: 25px;
}

.viewsample {
    display: flex;
    position: relative;
}

.viewsample .single-view {
    width: 45%;
    height: 360px;
    transition: all 0.8s ease-in-out;
    position: relative;
    margin-right: 30px;
}

.viewsample .single-view img {
    transition: all 0.8s ease-in-out;
    height: 360px;
    width: 100%;
    background-color: rgba(#000, 0.3);

}

.viewsample .single-view img:hover {
    transform: scale(1.06);
    transition: all 0.8s ease-in-out;
    opacity: 0.8;
}

.single-view .text-pos {
    position: relative;
    padding-top: 20px;
}
.single-view .text-pos h2 {
    color: black;
    font-size: 24px;
}
.single-view .text-pos p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
}

.single-view,
.single-view a,
.single-view a:hover {
    color: white;
}

.viewsample .single-view h2 {
    font-size: 24px;
    padding-bottom: 20px;
}


/* double view right */
.viewsample .double-view {
    width: 100%;
    height: 250px;
    transition: all 0.8s ease-in-out;
    position: relative;
    margin-right: 0px;
    margin-bottom: 10px;
}

.viewsample .double-view img {
    transition: all 0.8s ease-in-out;
    height: 175px;
    width: 100%;
    background-color: rgba(#000, 0.3);

}

.viewsample .double-view img:hover {
    transform: scale(1.06);
    transition: all 0.8s ease-in-out;
    opacity: 0.8;
}

.double-view .text-pos {
    position: relative;
}

.double-view .text-pos p {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: black;
}

.double-view,
.double-view a,
.double-view a:hover {
    color: black;
}

.viewsample .double-view h2 {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: black;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.only-mobile{
    display: none !important;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {
    .only-desktop{
        display: none;
    }
    .only-mobile{
        display: block !important;
    }
    .flexslider .slides img {
        width: 100%;
        display: block;
        height: 220px !important;
    }
    .roomlist-mobile-slider .item img{
        height: 220px;
    }
    .roomlist-mobile-slider .slick-prev, .roomlist-mobile-slider .slick-arrow{
        top: 110px !important;
    }

    .viewsample {
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .viewsample .single-view,    .viewsample .double-view{
        width: 100%;
        height: 400px;
        transition: all 0.8s ease-in-out;
        position: relative;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .viewsample .single-view img , .viewsample .double-view img {
        transition: all 0.8s ease-in-out;
        height: 280px;
        width: 100%;
        background-color: rgba(#000, 0.3);
    }



    .single-view .text-pos p, .double-view .text-pos p{
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: black;
    }

    .single-view .text-pos , .double-view .text-pos {
        position: relative;
    }

    .footer ul.footer-ul {
        text-align: center !important;
    }
    .footer ul.address {
        margin-left: 7px;
        text-align: center !important;
    }
    .top-menu {
        display: none;
    }
    .page-banner-top .page-name-title {
        font-size: 35px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        color: white;
        font-family: 'Playfair Display', serif;
        z-index: 1;
        width: 100%;
        text-align: center;
    }
    .container {
        width: 100%;
    }
    .page-banner-top {
        width: 100%;
        height: 200px;
        padding: 0px;
        margin: 0px;
        background: white;
        position: relative;
        margin-top: 110px;
        margin-bottom: 30px;
    }
    .image-holder img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .page-banner-top img {
        width: 100%;
        height: 200px;
        padding: 0px;
        margin: 0px;
        object-fit: cover;
    }
    .room-title {
        padding-left: 10px;
    }
    .app-text{
        padding-left: 5px;
    }
    .remove {
        width: 15px;
        cursor: pointer;
    }
    .onlyDesktop {
        display: none !important;
    }

    .width100 {
        width: 95% !important;
    }

    .container input-wrapper {
        padding: 10px 0px;
    }

    .discount-section {
        width: 95%;
    }

    .guest-room {
        width: 95%;
    }

    .booking-page .booking-menu {
        height: auto;
        background: #1d3649 !important;
        margin-top: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-pg .left {
        padding: 0px;
    }

    .booking-page .booking-menu .menu-item {
        font-size: .75rem;
        color: white;
        border-right: none height: 100%;
        padding: 10px 20px;
        width: auto;
        width: 100%;
        border-bottom: 1px solid white;
    }

    .menu-item .selected-value {
        font-size: 16px;
        display: flex;
        justify-content: center;
        padding-top: 10px;
        text-align: center;
    }

    .date-calender .calender-title {
        font-size: 18px;
        padding: 40px 0px;
        text-align: center;
    }

    .startdate-endate {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 96%;
        margin: auto;
        flex-direction: column;

    }

    .startdate-endate input {
        width: 100%;
        height: 40px;
        margin-bottom: 20px !important;
    }

    .room-list-view .selected-room-list {
        border: 5px solid #f6d83e;
        height: auto;
        margin-bottom: 150px;
    }

    .room-list-view .selected-room-list .list-part {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .room-list-view .selected-room-list .list-part .photo-view {
        width: 100%;
        height: 110px;
    }

    .room-list-view .selected-room-list .list-part .photo-view img {
        width: 100%;
        height: 110px;
        object-fit: cover;
    }

    .room-list-view .selected-room-list .list-part .room-description {
        width: 100%;
        padding: 10px;
    }

    .room-list-view .selected-room-list .list-part .sales-price-section {
        width: 100%;
    }

    .book-part {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        float: right;
        cursor: pointer;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .custom-modal-popup {
        width: 96%;
    }

    .pay-goto-now {
        padding: 10px 15px;
    }

    .close-modal {
        padding: 10px;
        left: 12px;
        bottom: 26px;
    }

    .payment-area {
        width: 100%;
        height: auto;
        background: #f2f2f2;
        display: flex;
        flex-direction: column;
        font-size: 13px;
    }

    .payment-area .first-part {
        width: 98%;
        border-bottom: 2px dotted #ccc;
        padding-right: 0px;
        padding-left: 0px;
    }

    .payment-area .second-part {
        width: 98%;
        border-bottom: 2px dotted #ccc;
        padding-right: 0px;
        padding-left: 0px;
    }

    .payment-area .third-part {
        width: 98%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .weather {
        height: auto;
        background: #f0f0f0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .day-weather {
        width: 50%;
        padding: 20px 15px;
        border-right: 0px dashed #ccc;
        border-bottom: 1px dashed #ccc;
        background: #fff;
    }

    .slick-list .day-weather:nth-child(even) {
        background: #f0f0f0 !important;
    }
    .slick-active{
        opacity: 1 !important;
    }

    .day-weather:last-child {
        width: 100%;
        padding: 20px 15px;
    }
    .slider{
        width: 80% !important;
        margin:30px !important;
    }
}





@media only screen and (min-width: 1024px) and (max-width: 1160px) {

    .top-menu ul {
        padding: 0px;
        padding-top: 0px;
        margin: 0;
        display: flex;
        width: 433px;
        float: right;
        margin-left: -126px;

    }

    .top-menu ul li {
        padding: 5px 7px;

    }

    .top-menu ul li a {
        color: #fff;
        left: 120px;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 1px;
    }

}